*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: absolute;
}
.hamburger-react{
    z-index: 10;
    color: black;
}
.carousel{
    height: 100vh;
}
video {
    width: 900px;
}
.videos-css{
    position: relative;
    top: 100px;
}